html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

* {
    font-family: "Manrope", sans-serif;
}

h1,
h2 {
    font-size: 46px;
    font-weight: 600;
}

h3 {
    font-size: 24px;
}

p,
a,
li {
    font-size: 20px;
}

a {
    text-decoration: none;
    color: #6B5247;
}


/* ------- BODY, TAGS AND CUSTOM CLASSES CODE END -------  */

nav.custom-nav {
    background: #D32228;
    padding: 20px 0;
    box-shadow: 2px 8px 11px -12px rgba(0, 0, 0, 0.75);
}

nav.custom-nav ul li a.nav-links {
    color: #FAF7D8;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: 0.4s;
}

nav.custom-nav ul li a.nav-links:hover {
    border-bottom: 2px solid #FAF7D8;
}

nav a.custom-nav-btn {
    padding: 8px 20px;
    background-color: #FAF7D8;
    color: #392821;
    font-size: 20px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    box-shadow: 3px 5px 15px -6px rgba(0, 0, 0, 0.74);
    transition: 0.7s;
}

nav a.custom-nav-btn:hover {
    background-color: #EFD2C2;
}

.custom-toggler {
    color: #ffffff94;
    font-size: 30px;
}

/* ------------------- NAVBAR CODE END -------------------  */

section#hero {
    background-image: url(images/hero-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 70%;
    height: 800px;
    margin-bottom: -300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section#hero div h1,
section#hero div h3 {
    color: #392821;
    font-weight: 600;
}

section#hero div h3 {
    width: 85%;
    line-height: 33px;
}

/* --------------------- HERO CODE END ---------------------  */

section#aboutUs {
    color: white;
    background: url(images/about-us-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    padding-top: 430px;
}

section#aboutUs div.about-top {
    position: relative;
    margin-bottom: 200px;
}

div.about-top img {
    position: absolute;
    right: 0;
    top: 200px;
}

section#aboutUs div.about-top h3,
section#aboutUs div.about-bottom h3,
section#contact div.contact-left h3 {
    font-size: 28px;
    font-weight: 600;
}


/* ----------------- ABOUT US CODE END -----------------  */

section#gallery {
    background-color: #D32228;
    color: white;
    margin-top: -5px;
    padding-bottom: 100px;
}

section#gallery h3 {
    font-size: 26px;
    font-weight: 600;
    margin: 50px 0 10px;
}

section#gallery div.gallery-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    margin: 0 auto;
    position: relative;
}

.gallery-item {
    position: absolute;
    height: 250px;
    width: 380px;
    z-index: 0;
    opacity: 0;
    background-size: contain;
    transition: all 0.3s ease-in-out;
}

.gallery-item-1 {
    left: 15%;
    opacity: .4;
    transform: translateX(-50%);
}

.gallery-item-2,
.gallery-item-4 {
    height: 300px;
    width: 430px;
    opacity: 0.8;
    z-index: 1;
}

.gallery-item-2 {
    left: 30%;
    transform: translateX(-50%);
}

.gallery-item-3 {
    left: 50%;
    height: 350px;
    width: 480px;
    opacity: 1;
    z-index: 2;
    transform: translateX(-50%);
}

.gallery-item-4 {
    left: 70%;
    transform: translateX(-50%);
}

.gallery-item-5 {
    left: 85%;
    opacity: .4;
    transform: translateX(-50%);
}

.gallery-controls {
    display: flex;
    justify-content: space-between;
    width: 90%;
    z-index: 2;
}

.gallery-controls button {
    background-color: #6B5247;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 0;
    opacity: 0.8;
    cursor: pointer;
}

.gallery-controls button:hover {
    opacity: 1;
    transition: 0.5s;
}

.gallery-controls-previous,
.gallery-controls-next {
    position: relative;
}

.gallery-controls-previous::before,
.gallery-controls-next::before {
    height: 5px;
    width: 5px;
    position: absolute;
    padding: 5px;
    border: solid white;
    border-width: 0 4px 4px 0;
    content: "";
    display: inline-block;
}

.gallery-controls-previous::before {
    left: 15px;
    top: 12px;
    transform: rotate(135deg) translateY(-50%);
    transition: left 0.15s ease-in-out;
}

.gallery-controls-next::before {
    right: 15px;
    top: 22px;
    transform: rotate(-45deg) translateY(-50%);
    transition: right 0.15s ease-in-out;
}


.gallery-text {
    display: none;
    font-weight: 500;
    color: white;
    font-size: 16px;
}

/* ----------------- GALLERY CODE END -----------------  */

section#membership h2,
section#contact h2 {
    color: #392821;
}

section#membership div.membership-wraper {
    width: 70%;
    margin: auto;
    padding: 0 0 70px;
    color: #6B5247;
    font-weight: 600;
}

section#membership form {
    width: 60%;
    margin: auto;
}

div.membership-wraper form label,
div.membership-wraper form p {
    font-size: 24px;
    margin: 30px 0 10px 0;
}

div.membership-wraper form input,
section#contact div.contact-right form input,
section#contact div.contact-right form textarea {
    border-width: 0 0 2px 0;
    border-style: solid;
    border-radius: 0;
    border-color: #8d8d8d4f;
}

div.membership-wraper form input[type=file] {
    border: none !important;
}

input[type=file]::file-selector-button {
    background-color: #EFD2C2;
    color: white;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
    width: 320px;
    transition: 1s;
}

div.membership-wraper form a {
    font-weight: 500;
}

div.membership-wraper form a:hover {
    color: #392821;
    transition: 0.5s;
}

div.membership-wraper form a img {
    width: 40px;
}

div.membership-wraper input#submitMembership,
section#contact div.contact-right form input[type=submit] {
    background-color: #D32228;
    color: white;
    font-size: 24px;
    font-weight: 700;
    padding: 10px 0;
    margin-top: 80px;
    box-shadow: 2px 2px 8px 0px #00000084;
    border: 2px solid transparent !important;
    opacity: 1;
    transition: .7s;
}

div.membership-wraper input#submitMembership:hover,
section#contact div.contact-right form input[type=submit]:hover {
    background-color: transparent;
    color: #D32228;
    border: 2px solid #D32228 !important;
    box-shadow: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

/* ----------------- MEMBERSHIP CODE END -----------------  */

section#contact div h2+p {
    color: #6B5247;
    font-weight: 600;
}

section#contact div.contact-form-wrapper {
    padding: 10px;
    margin-top: 100px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 60px 30px #00000008;
}

section#contact div.contact-left {
    background-color: #D32228;
    color: white;
    padding: 60px 50px;
    border-radius: 10px 10px 0 10px;
    position: relative;
    overflow-x: hidden;
}

section#contact div.contact-left ul li {
    font-weight: 500;
    margin: 20px 0;
    word-break: break-all;
}

section#contact div.contact-left img {
    bottom: 0px;
    right: 0;
}

section#contact div.contact-left img:last-of-type {
    bottom: 80px;
    right: 80px;
}

/* Contact form left column code end  */

section#contact div.contact-right form div {
    width: 48%;
}

section#contact div.contact-right form label {
    color: #6B5247;
    font-size: 24px;
    font-weight: 600;
}

section#contact div.contact-right form textarea {
    width: 100%;
    height: 150px;
}

section#contact div.contact-right form input[type=submit] {
    padding: 15px 48px;
    margin-top: 100px;
}

/* Contact form right column code end  */

div.grey-bg {
    height: 400px;
    background: #FBFBFB;
    bottom: 0;
    left: 0;
    z-index: -1;
}

/* ----------------- CONTACT FORM CODE END -----------------  */

footer div.footer-top {
    background-color: #FAF7D8;
}

footer div.footer-bottom {
    background-color: #D32228;
}

footer div.footer-bottom p,
footer div.footer-bottom p a {
    color: white;
}

footer div.footer-bottom p a:hover {
    text-decoration: underline;
}

/* ----------------- FOOTER CODE END -----------------  */



/* ---------------------------------------- DESCTOP CODE END ----------------------------------------  */


@media screen and (max-width:1400px) {

    h1,
    h2 {
        font-size: 42px;
    }

    p,
    a,
    li {
        font-size: 18px;
    }

    section#hero {
        height: 720px;
    }

    section#aboutUs {
        padding-top: 350px;
    }

    section#aboutUs div.about-top h3,
    section#aboutUs div.about-bottom h3,
    section#contact div.contact-left h3,
    section#gallery h3 {
        font-size: 24px;
    }

    div.membership-wraper form label,
    div.membership-wraper form p,
    section#contact div.contact-right form label {
        font-size: 22px;
    }
}

/* ----------------- MEDIA 1400PX CODE END -----------------  */

@media screen and (max-width:1199px) {

    h1 {
        font-size: 34px;
    }

    h2 {
        font-size: 36px;
    }

    nav.custom-nav ul {
        padding-top: 40px;
    }

    nav.custom-nav ul li a.nav-links,
    nav.custom-nav ul li a.nav-links:hover {
        border: none;
    }

    nav.custom-nav ul li a.nav-links {
        margin: 5px 0;
        font-size: 18px;
    }

    section#hero div h3 {
        font-size: 22px;
    }

    section#membership div.membership-wraper {
        width: 100%;
    }

    section#contact div.contact-left {
        padding: 50px 30px;
    }
}

/* ----------------- MEDIA 1200PX CODE END -----------------  */

@media screen and (max-width:992px) {
    h1 {
        font-size: 27px;
    }

    h2 {
        font-size: 34px;
    }

    section#hero {
        height: 650px;
    }

    section#hero div h3 {
        font-size: 20px;
        width: 95%;
    }

    section#aboutUs {
        padding-top: 270px;
    }

    section#aboutUs div.about-top h3,
    section#aboutUs div.about-bottom h3,
    section#contact div.contact-left h3,
    section#gallery h3 {
        font-size: 22px;
    }

    div.about-top img {
        top: auto;
        bottom: -350px;
    }

    div.membership-wraper form label,
    div.membership-wraper form p,
    div.membership-wraper input#submitMembership,
    section#contact div.contact-right form label,
    section#contact div.contact-right form input[type=submit] {
        font-size: 20px;
    }

    section#gallery {
        padding-bottom: 50px;
        overflow-x: hidden;
    }

    section#gallery div.gallery-container {
        height: 400px;
    }

    .gallery-item-1,
    .gallery-item-3 {
        width: 300px;
        height: 250px;
        left: 30%;
        transform: translateX(-50%);
        opacity: 0.6;
        z-index: 1;
    }

    .gallery-item-2 {
        width: 430px;
        height: 300px;
        left: 50%;
        opacity: 1;
        transform: translateX(-50%);
        z-index: 2;
    }

    .gallery-item-3 {
        left: 70%;
    }

    .gallery-controls button {
        margin: 0 40px;
    }

    section#contact div.contact-form-wrapper {
        box-shadow: none;
    }

    section#contact div.contact-left {
        border-radius: 10px;
    }

}

/* ----------------- MEDIA 992PX CODE END -----------------  */

@media screen and (max-width:768px) {

    h1,
    h2 {
        font-size: 28px;
    }

    p,
    a,
    li {
        font-size: 16px;
    }

    section#aboutUs div.about-top h3,
    section#aboutUs div.about-bottom h3,
    section#contact div.contact-left h3,
    section#gallery h3 {
        font-size: 20px;
    }

    section#contact div.contact-form-wrapper {
        margin-top: 70px;
    }

    div.membership-wraper form label,
    div.membership-wraper form p,
    section#contact div.contact-right form label {
        font-size: 18px;
    }

    section#contact div.contact-right form input[type=submit] {
        width: 100%;
    }
}

/* ----------------- MEDIA 768PX CODE END -----------------  */

@media screen and (max-width:576px) {
    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }

    p,
    a,
    li {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
    }

    .site-logo {
        width: 70%;
    }

    .site-logo img,
    section#contact div.contact-right form div {
        width: 100%;
    }

    section#hero h1 {
        font-size: 24px;
    }

    section#hero div h3 {
        font-size: 18px;
        line-height: 1.5;
    }

    section#aboutUs {
        padding-top: 240px;
        overflow-x: hidden;
    }


    section#aboutUs p.white-date {
        color: white;
    }

    section#aboutUs h2 {
        text-transform: uppercase;
    }

    section#aboutUs p,
    section#aboutUs div.about-bottom ul li {
        color: #E7EAED;
    }

    div.about-top img {
        height: 1000px;
        top: 320px;
        right: -100px;
    }

    .img-devider-1 {
        margin-top: -100px;
    }

    section#membership form {
        width: 100%;
    }

    section#contact {
        padding: 70px 0;
    }

    section#membership div.membership-wraper h2+p {
        font-weight: 600;
    }

    section#gallery h3 {
        font-size: 18px;
    }

    input[type=file]::file-selector-button {
        width: 60%;
    }

    div.membership-wraper input#submitMembership,
    div.membership-wraper form p,
    section#contact div.contact-right form input[type=submit],
    section#contact div.contact-form-wrapper {
        margin-top: 60px;
    }

    section#contact div.contact-form-wrapper {
        padding: 0;
        box-shadow: none;
    }

    section#contact div.contact-left {
        padding: 40px 20px 100px;
        margin-bottom: 40px;
    }

    section#contact div.contact-left ul li {
        font-weight: 500;
    }

    section#contact div.contact-left img {
        width: 130px;
    }

    section#contact div.contact-left img:last-of-type {
        width: 60px;
        bottom: 55px;
        right: 90px;
    }

    .gallery-item-1 {
        transform: scale(1.1);
        transition: .7s;
        opacity: 1;
        left: auto;
        height: 300px;
        width: 80%;
    }

    .gallery-controls {
        margin-bottom: 65px;
    }
}

/* ----------------- MEDIA 576PX CODE END -----------------  */